<header>
    <div class="menu-btn">
        <span class="menu-btn__burger"></span>
    </div>
    <nav class="nav">
        <ul class="menu-nav">
            <li class="menu-nav__item">
                <a asp-controller="Home" asp-action="Index" class="menu-nav__link">
                    Home
                </a>
            </li>
            <li class="menu-nav__item">
                <a asp-controller="Record" asp-action="Index" class="menu-nav__link">
                    Entries
                </a>
            </li>
        </ul>
    </nav>
</header>