@model IEnumerable<Record>


<ul class="records">

    @foreach (var record in Model)
    {
        <li class="record">
            <div class="record__header">
                <h2 class="record__id">#@record.RecordId</h2>
                <h2 class="record__datetime"><span>Posted: </span>@record.DatePosted.ToString()</h2>
            </div>
            <h2 class="record__comment">
                @record.Comment
            </h2>
            <div class="record__footer">
                <h2 class="record__nick">@record.Nick</h2>
                <h2 class="record__country">@record.Country</h2>
            </div>
        </li>
    }
</ul>
