@model Record

<form asp-action="Submit" method="post">
    <h2>Welcome to my guestbook!</h2>
    <h4>Sign it here &#128071;</h4>

    <input asp-for="Nick" type="text" class="feedback-input" placeholder="Name" />
    <span asp-validation-for="Nick" class="error-message"></span>

    <input asp-for="Email" type="text" class="feedback-input" placeholder="Email" />
    <span asp-validation-for="Email" class="error-message"></span>

    <input asp-for="Country" type="text" class="feedback-input" placeholder="Country" />
    <span asp-validation-for="Country" class="error-message"></span>

    <textarea asp-for="Comment" maxlength="100" type="text" class="feedback-input" placeholder="Comment"></textarea>
    <span asp-validation-for="Comment" class="error-message"></span>

    <input type="submit" value="SUBMIT" />
</form>