<form>
    <h2>Welcome to my guestbook!</h2>
    <h4>Sign it here &#128071;</h4>
    <input name="name" type="text" class="feedback-input" placeholder="Name" />
    <input name="email" type="text" class="feedback-input" placeholder="Email" />
    <input name="location" type="text" class="feedback-input" placeholder="Country" />
    <textarea maxlength="100" name="text" class="feedback-input" placeholder="Comment"></textarea>
    <input type="submit" value="SUBMIT" />
</form>